/* 
============================
*********Table of contents**********

01. Google Fonts 
02. variables
03. customize bootstrap class
04. base
05. section - padding, title
06. buttons
07. header section
08. hero section
09. category section
10. gallery section
11. featured listing section
12. explore section
13. plan section
14. blog section
15. footer section

============================
*/

/* 
***********************
1. google fonts  
***********************
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* 
***********************
2. Variables  
***********************
*/

:root {
  --white-color: #fff;
  --title-color: #484848;
  --sub-color: #ef8329;
  --text-color: #989898;
  --border-color: #eee6e6;
  --main-color: #db1d45;
  --title-size: 32px;
  --text-size: 16px;
}

/* 
******************************
03. customize bootstrap class
******************************
*/

/* 
***********************
04. base
***********************
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-wrapper {
  overflow: hidden;
}

img {
  width: 100%;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #e1e1e1;
}

.vector {
  width: 20px;
  height: 20px;
}

/* 
********************************
05. Section - margins and padding
********************************
*/
.section {
  padding: 40px 0;
}

.section-heading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-top-heading {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-heading {
  font-size: 38px;
  font-weight: 700;
  color: var(--title-color);
}

.section-subheading {
  font-size: 20px;
  color: var(--text-color);
}

/* 
***********************
6. Buttons  
***********************
*/
.main-button {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background: linear-gradient(180deg, var(--main-color) 0%, #f5a121 100%);
  border-radius: 6px;
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #f5a121;
}

.main-button:hover {
  background: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.card-button {
  color: var(--sub-color);
  font-weight: 600;
  text-transform: uppercase;
}

.card-button:hover {
  color: var(--main-color);
}

.close-button {
  color: var(--main-color);
  text-transform: uppercase;
}

.close-button:hover {
  color: var(--sub-color);
}

.blog-button {
  display: inline-block;
  padding: 4px 15px;
  border: 1px solid var(--sub-color);
  color: var(--sub-color);
  font-size: 12px;
  font-weight: 400;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.blog-button:hover {
  color: var(--white-color);
  background-color: var(--sub-color);
}

/* 
***********************
7. Header sections
***********************
*/
.nav-button-icon {
  font: 300;
  color: var(--main-color);
}

.nav-button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-weight: 400;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.nav-button:hover .nav-button-icon {
  color: var(--white-color);
}

.logo {
  width: 200px;
  cursor: pointer;
}

.logo:hover {
  color: var(--main-color);
}

/* 
***********************
8. Hero Section
***********************
*/
.hero-content .hero-title {
  font-size: 60px;
  color: var(--title-color);
  font-weight: 700;
}

.hero-content .hero-subtitle {
  font-size: 24px;
  font-weight: 300;
  color: var(--text-color);
  margin-top: 10px;
}

.hero-form {
  padding: 0 100px;
  margin-top: 30px;
}

.label-text {
  font-size: 19px;
  font-weight: 600;
  color: var(--title-color);
}

.hero-wrapper {
  width: 50%;
}

.hero-column .place {
  width: 70%;
}

.hero-form .hero-column input {
  width: 80%;
  display: block;
  padding: 10px 20px;
  padding-left: 0;
  font-size: 18px;
  border: none;
  outline: none;
}

.hero-column {
  border: 1px solid var(--border-color);
}

/* 
***********************
09. category section
***********************
*/
.category {
  background: linear-gradient(180deg, var(--main-color) 0%, #f5a121 100%);
  color: var(--white-color);
}

.category .section-top-heading {
  color: var(--white-color);
}

.category .section-heading {
  color: var(--white-color);
}

.category .section-subheading {
  color: var(--white-color);
}

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  position: relative;
  margin: 0 auto;
}

.scroll-container img {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  width: 245px;
}

.scroll-container::-webkit-scrollbar {
  max-width: 10px;
  background-color: white;
  height: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #552929;
  border-radius: 7px;
}

/* 
***********************
 10. Gallery Section
***********************
*/
.gallery {
  margin-top: 40px;
}

.gallery-section {
  margin-top: 20px;
}

.image-wrapper {
  position: relative;
}

.image-wrapper p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
}

/* 
***********************
11. Features section
***********************
*/
.rating {
  padding: 2px 8px;
  background: var(--sub-color);
  color: var(--white-color);
}

.rating-down {
  padding: 2px 8px;
  background: #ffba00;
  color: var(--white-color);
}

.featured-title {
  font-size: 22px;
  font-weight: 700;
  color: var(--title-color);
}

.featured-location {
  color: #4e4e4e;
  font-size: 18px;
  font-weight: 400;
}

.featured-content {
  margin-top: 40px;
  color: #4e4e4e;
}

/* 
***********************
12. Explore Section
***********************
*/
.explore {
  background: #f9f9f9;

  padding-bottom: 230px;
}

.explore-content {
  margin-top: 30px;
}

.explore-image {
  position: relative;
}

.circle.close {
  background-color: var(--main-color);
}

.circle.open {
  background-color: #04be30;
}

.explore-feature {
  background-color: var(--sub-color);
  padding: 3px 8px;
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 10px;
}

.status {
  background-color: var(--white-color);
  padding: 3px 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  font-weight: 400;
}

.author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--white-color);
  position: absolute;
  right: 30px;
  bottom: -20px;
}

.shopping-bag {
  width: 34px;
  height: 34px;
  margin-top: -15px;
}

.check-mark {
  width: 15px;
  height: 15px;
  margin-top: -10px;
}

.explore-title {
  font-size: 18px;
  font-weight: 700;
}
.check-mark {
  margin-left: 10px;
}
.bookmark {
  margin-left: 16px;
}
.star-icon {
  width: 14px;
  height: 14px;
}

.rating-numebr {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
}

.explore-text {
  font-size: 14px;
  font-weight: 400;
  color: #777;
}

.explore-location {
  color: #777;
  font-size: 13px;
  font-weight: 400;
}

.explore-body {
  background-color: var(--white-color);
  padding: 10px 25px;
}

/* 
***********************
13. plan section
***********************
*/
.plan {
  margin-top: -140px;
  border: 3px solid #f9f9f9;
}

.plan-wrapper {
  background-color: #f3f3f3;
  padding: 15px 20px;
  border-radius: 5px;
}

.plan-wrapper h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
  margin-top: 20px;
}

.plan-wrapper p {
  font-size: 16px;
  font-weight: 300;
  color: #777;
  margin-top: 10px;
}

.plan-icon {
  width: 70px;
}

/* 
***********************
14. Blog Section
***********************
*/
.blog {
  padding-top: 70px;
  margin-bottom: 20px;
}

.blog-content {
  margin-top: 30px;
}

.blog-image {
  position: relative;
}

.blog-date {
  background: var(--sub-color);
  width: 64px;
  height: 64px;
  border-radius: 8px;
  text-align: center;
  padding-top: 5px;
  color: var(--white-color);
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.blog-date span {
  font-size: 24px;
  font-weight: 700;
  margin-top: -5px;
}

.blog-body {
  padding: 15px 0;
}

.blog-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--title-color);
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.blog-title:hover {
  color: var(--main-color);
}

/* 
***********************
15. footer style 
***********************
*/

footer {
  border-top: 4px solid #f9f9f9;
  padding-top: 40px;
}

.footer-logo {
  width: 180px;
}

.mobile-app img {
  max-width: 124px;
  object-fit: cover;
  cursor: pointer;
}

.footer-title {
  border-bottom: 1px solid var(--border-color);
}

.footer-title h2 {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-text {
  font-size: 12px;
}

.footer-body {
  padding: 20px 5px;
}

.footer-body ul li {
  margin-bottom: 10px;
  font-weight: 400;
}

.phone-number-div {
  background-color: #f9f9f9;
  margin-top: 25px;
}

.phone-number-div .phone-icon {
  font-size: 26px;
}

.phone-number-div .phone-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: #999999;
}

.phone-number-div .phone-no {
  color: #222;
  font-weight: 600;
  margin-top: 10px;
  font-size: 18px;
}

.bottom-footer-text {
  font-size: 16px;
  font-weight: 400;
  color: #777;
}

.social-icons span {
  width: 39px;
  display: inline-block;
  height: 39px;
  line-height: 39px;
  text-align: center;
  background-color: #efefef;
  margin-right: 10px;
  border-radius: 50%;
  padding: 2px;
}

.social-icons span i {
  font-size: 20px;
  cursor: pointer;
  color: #868686;
}
