/* 
============================
*********Table of contents**********

01. Google Fonts 
02. variables
03. customize bootstrap class
04. base
05. section - padding, title
06. buttons
07. header section
08. hero section
09. slider section
10. location section
11. featured listing section
12. explore section
13. plan section
14. blog section
15. footer section

============================
*/

/* 
***********************
1. google fonts  
***********************
*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* 
***********************
2. Variables  
***********************
*/

:root {
  --white-color: #fff;
  --title-color: #484848;
  --text-color: #989898;
  --border-color: #eee6e6;
  --gradient-color: linear-gradient(
    338deg,
    rgba(186, 169, 28, 1) 0%,
    rgba(232, 39, 39, 1) 50%,
    /* Adjusted position */ rgba(236, 234, 26, 1) 100%
  );
  --main-color: #e82727;
  --title-size: 32px;
  --text-size: 16px;
}

/* 
******************************
03. customize bootstrap class
******************************
*/

/* 
***********************
04. base
***********************
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* 
********************************
5. Section - margins and padding
********************************
*/
section {
  padding: 60px 0;
}

.section-heading {
  font-size: 38px;
  font-weight: 700;
  color: var(--title-color);
}
.section-subheading {
  font-size: 20px;
  color: var(--text-color);
  margin-top: 15px;
}

/* 
***********************
6. Buttons  
***********************
*/
.main-button {
  display: inline-block;
  padding: 15px 30px;
  background: linear-gradient(180deg, #db1d45 0%, #f5a121 100%);
  border-radius: 6px;
  color: var(--white-color);
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 400;
}
.main-button:hover {
  background: transparent;
  border: 1px solid #db1d45;
  color: #db1d45;
}
/* 
***********************
7. Header sections
***********************
*/

.logo {
  color: var(--main-color);
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

/* 
***********************
8. Hero Section
***********************
*/
.hero-content .hero-title {
  font-size: 60px;
  color: var(--title-color);
  font-weight: 700;
}
.hero-content .hero-subtitle {
  font-size: 24px;
  font-weight: 300;
  color: var(--text-color);
  margin-top: 10px;
}
.hero-form {
  margin-top: 40px;
}
.label-text {
  font-size: 19px;
  font-weight: 600;
  color: var(--title-color);
}
.hero-column .place {
  width: 70%;
}
.hero-form .hero-column input {
  width: 80%;
  display: block;
  padding: 14px 20px;
  padding-left: 0;
  font-size: 18px;
  border: none;
  outline: none;
}
.hero-column {
  border: 1px solid var(--border-color);
}

/* 
***********************
15. footer style 
***********************
*/

.footer-title {
  border-bottom: 1px solid var(--border-color);
}
.footer-title h2 {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.footer-text {
  font-size: 12px;
}
.footer-body {
  padding: 20px 5px;
}
.footer-body ul li {
  margin-bottom: 10px;
  font-weight: 400;
}

.phone-number-div {
  background-color: rgb(233, 240, 240);
  margin-top: 25px;
}
.phone-number-div .phone-icon {
  font-size: 26px;
}
.phone-number-div .phone-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.phone-number-div .phone-no {
  color: var(--title-color);
  font-weight: 600;
  margin-top: 10px;
  font-size: 18px;
}
